* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  width: 30%;
  height: 80vh;
  border: 3px solid black;
  transition: all 0.5s;
}

.card:hover {
  background: linear-gradient(
    130deg,
    rgb(136, 255, 0),
    rgb(0, 170, 255),
    rgb(255, 0, 247),
    rgb(255, 213, 0)
  );
}
